name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  android-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Java JDK versions (LTS: 17, 21 & Non-LTS: 23)
        java-version: [ '23' ]
        # https://adoptium.net/temurin/releases/
        distribution: [ 'temurin' ]

    steps:
      - uses: actions/checkout@v5
      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.distribution }}

      # Automatic gradle caching using `actions/cache@v4`
      # https://github.com/gradle/actions/tree/main/setup-gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run test
        run: ./gradlew testDebugUnitTest --parallel --daemon

      - name: Generate coverage report
        run: ./gradlew koverXmlReport --parallel --daemon

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: hossain-khan/trmnl-android-buddy
          files: ./build/reports/kover/report.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build with Gradle
        run: ./gradlew lintKotlin assembleDebug --parallel --daemon
